@charset "utf-8";
// Import a Google Font

@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang|Quicksand|Kalam|Fondamento|Belleza');
$family-title:'Ubuntu', sans-serif;
$weight-title:400;

$family-subtitle:'Ubuntu', sans-serif;;
$weight-subtitle:300;
$button-fontfamily:'Quicksand', cursive;

$family-sans-serif:'Quicksand', sans-serif;
//'Quicksand', sans-serif;

// Import only what you need from Bulma
@import "./bulma/sass/utilities/_all";
@import "./bulma/sass/base/_all";
@import "./bulma/sass/elements/_all";
@import "./bulma/sass/components/_all";
@import "./bulma/sass/grid/_all";
@import "./bulma/sass/layout/_all";

